.dashboard__holder {
  margin: 14% 10% 0 10%;
  .dashboard {
    margin: 5% 0% 5% 0%;

    .dashboard__button {
      padding: 24px;
      width: 100%;
      border: 1px solid $secondary-color;

      .dashboard__button-label {
        font-size: 48pt;
        font-family: $font-bold;
      }

      .dashboard__button-description {
        color: $grey-color !important;
        font-family: $font-light;
        font-size: 24pt;
        margin: 5px;
      }

      a.action__btn {
        border: 2px solid $secondary-color;
        width: 100% !important;
        padding: 8px;
        text-decoration: none;
        color: $primary-color;
        font-family: $font-medium;
        font-size: 32pt;
        background: $secondary-color;
        transition: all 0.3s;
      }

      a.action__btn:hover {
        opacity: 90%;
      }
    }
  }
}
