.sidenav {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 100vh;
  position: fixed;
  border: 2px solid $secondary-color;

  .sidenav__logo {
    top: 39px;
    margin-top: 18%;
    display: flex;
    justify-content: center;

    .logo {
      width: 100px;
    }
  }

  .sidenav__options {
    .sidenav__items {
      margin-top: 20%;
      padding: 8px;

      .toggle {
          cursor: pointer;

          div {
              font-family: $font-bold;
              font-size: 24px;
          }
      }

      .toggle__options {
          background: $secondary-color;
          .label__option-holder {
              margin-top: 5px;
              padding: 10px;
              color: $primary-color;

              .label__option-header {
                  font-family: $font-bold;
              }

              .label__options {
                  .small__input {
                      width: 100%;
                      padding: 15px;
                      font-size: 24pt;
                      color: $primary-color;
                      background: $secondary-color;
                      border: 2px solid $primary-color;
                      font-family: $font-bold;
                  }

                  .input__right-text {
                    font-size: 24px;
                    font-family: $font-bold;
                  }
              }
          }
      }
    }
  }
}

.side__content {
  margin-left: 200px;
}

.color-picker {
  .swatch {
    .color {
      cursor: pointer;
      height: 50px;
      width: 65px;
      border: 2px solid black;
    }

    .close {
      cursor: pointer;
    }
  }
}

.toolbar {
  margin: 25px;
  
  .download {
    border: 2px solid $secondary-color;
    background: transparent;
    color: $secondary-color;
    font-family: $font-bold;
    padding: 15px;
    font-size: 25px;
  }
}

.movable__text {
  .handle {
    filter: grayscale(100%);
    svg {
      filter: invert(100%);
    }
  }
}